@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hair Salon</h1>
    <a href="/stylists/create">Create a stylist</a>
    <a href="/stylists/index">Stylist Index</a>
    <a href="/clients/index">Client index</a>
    <a href="/clients/create">Create a client</a>
</div>
